<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <packageSources> 
    <add key="Artifactory" value="https://sres.web.boeing.com/artifactory/api/nuget/Nuget-Releases/" /> 
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      <add key="Username" value="3058371" />
      <add key="ClearTextPassword" value="AKCp5bBrPfYzk5qNFPTPhgXdVX2LU6jv9T4KSVywLHw2dyN7eZPN99g67PyRMXWUnUNzpd72v" />
    </Artifactory>
  </packageSourceCredentials>
</configuration>